.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../img/register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
}

.signup_Form {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.signup_Form input,
.signup_Form select {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  color: #00040a;
}

.signup_Form input::placeholder,
.signup_Form select::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.signup_Form button {
  background: rgba(0, 123, 255, 0.7);
  border: none;
  padding: 0.75rem;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.signup_Form button:hover {
  background: rgba(0, 123, 255, 0.9);
}

.signup_Form h2 {
  color: #fff;
}

.signup_Form a {
  color: rgba(0, 123, 255, 0.7);
  text-decoration: none;
}

.signup_Form a:hover {
  color: rgba(0, 123, 255, 0.9);
}

/* Responsive Design */
@media (max-width: 768px) {
  .signup {
      padding: 2rem;
  }

  .sign_Form {
      padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .signup_Form {
      padding: 1rem;
  }
  .signup{
    padding: 1rem;
  }
}
